
.sidebar{
    width:150px;
    height:100%;
    border: solid;
    position: fixed;
    right:-300px;
    top:0;
    background-color:orange;
    transition: all 0.5s;
}

.active {
    right: 0;
  }


.sidebar img{
    width:50px;
    height: 50px;
}

.sidebar-icon img{
    width:50px;
    height: 50px;
}

.sidebar-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
}
